<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find a Phone</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Info!</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Find Mars info!</a></p>
    </div>

    <!-- news Listings -->
    <div class="row" id="craiglist-listings">
      <div class="col-md-12">
        <h4 class="heading">{{mars.News_Heading[0]}} </h4>
        <small>{{mars.News_Text[0]}}</small>



      </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
                
         <img src="{{mars.Featured_Image}}">
        
        </div>
        
            <div class="col-lg-4">
                <h3> Mars Facts</h3>
                    
             {{mars.Facts|safe}}
            
            </div>
            
           
                
       
      </div>

      <div class="row">
        <div class="col-lg-6">
                
         <img src="{{mars.Hemispheres[0][image_url]}}">
         <h3> {{mars.Hemispheres[0][title]}}</h3>
        
        </div>
        
            <div class="col-lg-6">
               
                    
                <img src="{{mars.Hemispheres[1][image_url]}}">
                <h3> {{mars.Hemispheres[1][title]}}</h3>
            
            </div>
            
           
                
       
      </div>



     

  </div>
</body>

</html>
